.nav-bar {
  color: black;
  background-color: black;
  background: black;
}
.page-wrapper .top-bar .row {
  background: black;
}

.application-details .page .top-bar .row {
  background: black;
}

.top-bar__breadcrumbs {
  color: lightblue;
}

.page-wrapper .top-bar .row::before {
  content: url('https://keithchong.github.io/openshift-platform-logo.svg');
}

.application-details .page .top-bar .row::before {
  content: url('https://keithchong.github.io/openshift-platform-logo.svg');
}

.page-wrapper .page__content-wrapper  {
  margin-top: 20px;
}

.application-details .page__content-wrapper {
  margin-top: 20px;
}