.nav-bar {
  color: black;
  background-color: black;
  background: black;
}
.page-wrapper .top-bar .row {
  background: black;
}

.application-details .page .top-bar .row {
  background: black;
}

.top-bar__breadcrumbs {
  color: lightblue;
}

.columns.top-bar__left-side::before {
  content: '<div style="width:140px;margin-left:10px;margin-top:2px;margin-bottom:2px" class="columns2"><img src="https://keithchong.github.io/openshift-platform-logo.svg"></div>'
}