.nav-bar {
  color: black;
  background-color: black;
  background: black;
}
.page-wrapper .top-bar .row {
  background: black;
}

.application-details .page .top-bar .row {
  background: black;
}

.top-bar__breadcrumbs {
  color: lightblue;
}